language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - pypy
install:
  - cd ../
  - git clone https://github.com/jpcw/mr.bobby.git
  - cd mr.bobby
  - python setup.py install
  - cd ../bobbyplugins.jpcw/
  - python setup.py develop
  - easy_install bobbyplugins.jpcw[test]
script:
  - make test -k
after_success:
  - easy_install coveralls
  - coveralls

